<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="TruckDbConnection"
             connectionString="Server=localhost;Port=3306;Database=cement_factory_db;Uid=root;Pwd=123456;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <appSettings>
        <!-- Камера для получения видео -->
        <add key="PhotoCam" value="192.168.1.107" />
        <!-- Камеры для считывание номеров машин -->
        <add key="EnterANPRCam" value="192.168.1.108" />
        <add key="ExitANPRCam" value="192.168.1.109" />
        <add key="ANPRLogin" value="admin" />
        <add key="ANPRPwd" value="admin123" />
        <!-- Настройки для питона -->
        <add key="PythonExePath" value="C:/Users/user/AppData/Local/Programs/Python/Python312/python.exe" />
        <!-- До скольки минут доставать номера распознанные -->
        <add key="Minutes" value="20" />
        <!-- Тестовый режим -->
        <add key="IsTest" value="true" />
        <!-- Накладная -->
        <add key="CompanyName" value="ОсОО &quot;Глобал Бетон&quot;" />
        <add key="FullName" value="Мамбеталиева Э.К." />
        <add key="INN" value="02411202210121" />
        <add key="Address" value="ОКПО: 31690820, Ыссык-Кульский р/н, с.Чоктал" />
        <!-- 1C настройки -->
        <add key="1CServer" value="10.10.0.11:80" />
        <!-- Настройки весов, шлагбаума -->
        <add key="BarrierServer" value="10.1.0.111" />
        <!-- Каждые сколько секунд делать запрос на получение веса -->
        <add key="RequestIntervalSeconds" value="5" />
        <!-- Сколько минут делать запрос на весы -->
        <add key="MaxRequestDurationMinutes" value="5" />
        <!-- IP адрес папки для хранения фотографий груза -->
        <add key="IpToFolder" value="10.10.0.11:88" />
        <!-- IP адрес веб сайт админки куда нужно грузить фотку -->
        <add key="IpAdminSite" value="10.10.0.11:90" />
        <!-- ID склада Глобал бетона -->
        <add key="GlobalCementWarehouseId" value="09e6b7e4-218a-11ef-8f2c-000c298cf022" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>